
#active {
    color:red;
}
a {
color:black;
text-decoration: none;
}
.saw {
color:gray;
}
h1 {
font-size: 80px;
text-align: center;
}


body{
  margin          : 0px;
}
#Name{
  font-size       : 18px;
  margin          : -20px;
}
a{
  color           :black;
  text-decoration : none;
}
h1{
  font-size       : 80px;
  text-align      : center;
  border-bottom   : 1px solid gray;
  margin          : 0px;
  padding         : 20px;
}

#grid ol{
  font-size       : 25px;
  border-right    : 1px solid gray;
  width           : 170px;
  margin          : 0px;
  margin-left     : 40px;
  padding         : 20px;
}
h2{
  font-size       : 30px;

}
#grid{
  display               : grid;
  grid-template-rows    : 850px;
  grid-template-columns : 300px 1fr
}
#grid2{
  display               : grid;
  margin-top            : -10px;
  margin-left           : -12px;
  grid-template-columns : 400px 500px
}
#HTML_TAG{
  margin-right          : 100px;
}



@media(max-width:800px){
  #grid{
    display : block;
  }
  #grid ol{
  border-right    : 0px solid gray;
  
  }
  #grid2{
    display : block;
  }
}
